<%- include("templates/encabezado") %>
<h1>Error</h1>
<h4>Tus datos son incorrectos, 
    favor de llenar nuevamente el formulario</h4>
<h5>Como ayuda habilita javascript</h5>
<%- include("templates/pie") %>